# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
  - windows
arch:
  - x64
  - x86
  - arm64
julia:
  - 1.3
  - 1
  - nightly
matrix:
  fast_finish: true
  allow_failures:
    - julia: nightly
  exclude:
    - os: osx
      arch: x86
    - os: osx
      arch: arm64
    - os: windows
      arch: arm64
    - julia: nightly
      arch: arm64
    - julia: 1.3
      os: osx
notifications:
  email: false
cache:
  directories:
  - $HOME/.julia/artifacts
jobs:
 allow_failures:
   - julia: nightly
 include:
   - stage: downstream packages
     script:
       - julia --project=. --color=yes -e 'using Pkg; Pkg.instantiate()'
       - julia --project=. --color=yes -e 'using Pkg; Pkg.add("ArchGDAL"); Pkg.test("ArchGDAL")'
